<!-- <div>
    <h2>Add Operating Hours</h2>
    <form (ngSubmit)="createOperatingHours()">
      <div>
        <label for="start">Start Date and Time:</label>
        <input
          id="start"
          [(ngModel)]="newOperatingHours.start"
          name="start"
          type="datetime-local"
          required
        />
      </div>
      <div>
        <label for="end">End Date and Time:</label>
        <input
          id="end"
          [(ngModel)]="newOperatingHours.end"
          name="end"
          type="datetime-local"
          required
        />
      </div>
      <button type="submit">Add Operating Hours</button>
    </form>
  </div> -->

  <div>
    <h2>Operating Hours Management</h2>
      <button 
      mat-raised-button 
      color="primary"
      (click)="openAddHoursDialog()">
      <mat-icon>add</mat-icon>
      Add Operating Hours
    </button>
  </div>
