<mat-pane class="add-hours-box">
    <mat-card-header>
      <mat-card-title>Open Hours Editor</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
  
    <form (ngSubmit)="createOperatingHours()">
      <mat-form-field appearance="fill">
        <mat-label>Start Date and Time:</mat-label>
        <input matInput
          title="start"
          type="datetime-local"
          [(ngModel)]="newOperatingHours.start"
          name="start"
          placeholder="Start Date"
          required
        />
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>End Date and Time:</mat-label>
        <input matInput
          title="end"
          type="datetime-local"
          [(ngModel)]="newOperatingHours.end"
          name="end"
          placeholder="End Date"
          required
        />
      </mat-form-field>
      <div>
        <button mat-flat-button color="primary" type="submit">Add Operating Hours</button>
        <button mat-flat-button color="warn" type="button" (click)="resetNewOperatingHours()">Reset</button>
      </div>
    </form>
  </mat-pane>