<mat-pane class="add-hours-box">
  <mat-card-header class="card-header">
    <mat-card-title>Add Hours</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <form (ngSubmit)="createOperatingHours()">
    <mat-form-field appearance="outline" class="date-time-pickers">
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate [(ngModel)]="newOperatingHours.startDate" name="startDate" placeholder="Start date" required>
        <input matEndDate [(ngModel)]="newOperatingHours.endDate" name="endDate" placeholder="End date" required>
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY - MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <div id="time-picker-containers">
      <mat-form-field appearance="outline" class="date-time-pickers">
        <mat-label>Start Time</mat-label>
        <input matInput type="time" [(ngModel)]="newOperatingHours.startTime" name="startTime" required>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="date-time-pickers">
        <mat-label>End Time</mat-label>
        <input matInput type="time" [(ngModel)]="newOperatingHours.endTime" name="endTime" required>
      </mat-form-field>
    </div>
    <div id="add-hours-submit-button-container">
      <button 
        mat-flat-button
        class="primary-button"
        type="submit">
        Add Operating Hours
      </button>
    </div>
  </form>
</mat-pane>

<mat-pane class="show-operating-hours">
  <mat-card-header>
    <mat-card-title>Existing Hours</mat-card-title>
  </mat-card-header>
  <div class="hours-item">
    @for (hours of existingOperatingHours; track hours.id) {
      <mat-card class="hours-card">
        <mat-card-header>
          <mat-card-title>Slot #{{ hours.id }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Start: {{ hours.start | date: 'short' }}</p>
          <p>End: {{ hours.end | date: 'short' }}</p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button
            mat-flat-button
            color="warn"
            class="delete-button"
            (click)="deleteOperatingHourById(hours.id)"
          >
            Delete
          </button>
        </mat-card-actions>
      </mat-card>
    }
  </div>
</mat-pane>
